/__pycache__
/congreso
2021_cisiet_ponencia_propuesta_Inteligencia artificial_ITSA.docx
PLANTILLA PARA ELABORAR  TU PROYECTO-PIN03-2022-1 (2).docx
proyecto_Plantilla modificada SINEVO.docx
Sustentacion proyecto integrador 2.pptx